.avatar-show-img  {
  width: 128px;
  height: 128px;
}

.well.profile-block {
  color: #fff;
  h3 {
    margin-top: 0;
  }
}

.well.profile-description {
  background: #5cb85c;
  border: #4cae4c;
}

.well.profile-contact-info {
  background: #5bc0de;
  border: #46b8da;
}